body html{
  margin: 0;
  padding: 0;
  color: #000;
}

header {
  padding: 30px;
  font-family: Roboto Condensed, serif;
  background-color: #a8db87;
  border:10px inset #538e2c;
  text-align: center;
}

#btnStart {
  font-family: Roboto Condensed;
  font-size: 24px;
  border:20px outset #538e2c;
}

input {
  margin: 10px;
  font-family: Roboto Condensed , serif;
  font-size: 24px;
  border:20px inset #538e2c;
  padding-left: 10px;
}  

#btnStop {
  font-family: Roboto Condensed, serif;
  font-size: 24px;
  border:20px outset #538e2c;
}

article {
  margin-left:270px;
  margin-right: 230px;
}

.hide {
  display: none;
}