body html{
  margin: 0;
  padding: 0;
  color: #000;
}

header {
  padding: 30px;
  font-family: Roboto Condensed, serif;
  background-color: #a8db87;
  border-color: #538e2c;
  border-width: 30px;
}

header h1 {
  padding-left: 430px;
}

header h2 {
  padding-left: 395px;
}

header h3 {
  padding-left: 365px;
}

input {
  margin: 10px;
  font-family: Roboto Condensed , serif;
  font-size: 24px;
  border-color: #538e2c;
  border-width: 20px;
  padding-left: 10px;
}  

#btnStart {
  font-family: Roboto Condensed;
  font-size: 24px;
  border-color: #538e2c;
  border-width: 20px;
  margin-left: 340px;
  padding-left: 10px; 
}

#btnStop {
  font-family: Roboto Condensed, serif;
  font-size: 24px;
  border-color: #538e2c;
  border-width: 20px;
  padding-left: 10px; 
}

article {
  margin-left:270px;
  margin-right: 230px;
}

.hide {
  display: none;
}